node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Circom
circom/*_js/
circom/**/*.r1cs
circom/**/*.sym
circom/**/*.ptau
circom/**/*.zkey
circom/**/*.wtns
circom/*.json
circom/*.sol
circom/circom-ecdsa/
circom/hash-circuits/
